<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>288161717616-avvu40ocor8f1fr77qm73c98tep3645h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.288161717616-avvu40ocor8f1fr77qm73c98tep3645h</string>
	<key>API_KEY</key>
	<string>AIzaSyAjE_yw6LD25l_YOe3SKgRbI1OgyvNiMYc</string>
	<key>GCM_SENDER_ID</key>
	<string>288161717616</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.J-Min.FirebaseLoginWithGoogleAndApple</string>
	<key>PROJECT_ID</key>
	<string>fir-authsdk-70cc2</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-authsdk-70cc2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:288161717616:ios:a82fad55df65038bd0c3b5</string>
</dict>
</plist>